[data-embedded="date"] .oe-date-pill {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    padding: 0 8px;
    border: 1px solid #008f8c;
    border-radius: 14px;
    background-color: #a6e3e2;
    color: black !important;
    font-size: 13px;
  }
